body {
    background: #090909;
    font-family: 'Roboto', sans-serif;
    color: #c0c0bf;
    box-sizing: border-box;
}

a:link,
a:visited
{
    color: #c0c0bf;
    text-decoration: none;
}


.container {
    padding: 15px;
}
header{
    height: auto;
}

.header-logo {
    display: inline-block;
}
.logo {
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #c0c0bf;
}

.logo span:first-child {
    font-weight: 300;
}
.logo span:nth-child(2) {
    font-weight: 700;
}

/* Becouse in this div position is set to fixed(relative to the viewport),
 top end right : 0, margin of this div should be same as padding in container */
.language {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 1;
    margin-top: 15px;
}

/* I don't know why padding is moving this element from right edge of the viewport but isn't from the top edge of the viewport.
   I need add margin-top: 15px; to parent div(.language).
*/
.language a{
    padding: 15px;
}

/* Im setting height of this section to 100% of viewport height thanks to that my product photo(fake-photo for now) always will be only element visible on
 view after page load. Rest will be bellow */
#presentation-photo {
    height: 100vh;
}
.fake-photo {
    width: 90%;
    height: 55px;
    background: #c0c0bf;
    text-align: center;
    /* Code below is making this div vertically in the middle of viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* element reflect */
    -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,
    from(transparent),
    color-stop(50%,transparent),
    to(rgba(250,250,250,.5)));
}

.fake-photo p{
    color: #090909;
    color: #090909;
    text-transform: uppercase;
    font-size: 79px;
    line-height: 0.7;
    font-weight: 700;
}
.product-info {
    text-transform: uppercase;
}
.product-info h1 {
    font-size: 22px;
}
.product-info p:first-of-type{
    margin-bottom: 10px;
}
.product-info p:nth-of-type(2){
    text-align: justify;
}

.footer-logo {
    display: none;
}