body {
    background: #090909;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    box-sizing: border-box;
}

a:link,
a:visited
{
    color: #777777;
    text-decoration: none;
}


.container {
    padding: 15px;
}
header{
    height: auto;
}

.header-logo {
    display: inline-block;
}
.logo {
    color: #c0c0bf;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #c0c0bf;
}

.logo span:first-child {
    font-weight: 300;
}
.logo span:nth-child(2) {
    font-weight: 700;
}

/* Becouse in this div position is set to fixed(relative to the viewport),
 top end right : 0, margin of this div should be same as padding in container */
.language {
    color: #777777;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 1;
    margin-top: 15px;
}

.language a span {
    font-weight: 700;
}

/* I don't know why padding is moving this element from right edge of the viewport but isn't from the top edge of the viewport.
   I need add margin-top: 15px; to parent div(.language).
*/
.language a{
    padding: 15px;
}

/* Im setting height of this section to 100% of viewport height thanks to that my product photo(fake-photo for now) always will be only element visible on
 view after page load. Rest will be bellow */
.presentation-photo {
    height: 100vh;
}
.fake-photo {
    width: 90%;
    height: 55px;
    background: #c0c0bf;
    text-align: center;
    /* Code below is making this div vertically in the middle of viewport */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* element reflect */
    -webkit-box-reflect: below 0 -webkit-gradient(linear,left top,left bottom,
    from(transparent),
    color-stop(50%,transparent),
    to(rgba(250,250,250,.5)));
}

.fake-photo p{
    color: #090909;
    color: #090909;
    text-transform: uppercase;
    font-size: 79px;
    line-height: 0.7;
    font-weight: 700;
}
.product-info {
    margin-bottom: 25px;
}
.product-info h1 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-info p:first-of-type{
    margin-bottom: 25px;
}
.product-info p:nth-of-type(2){
}

.action input[type=button] {
    border: 1px solid #ffffff;
    outline: none;
    background: none ;
    color: #ffffff;
    padding: 10px 15px;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.action input[type=button]:link {
    color: #090909;
    background-color: #ffffff !important;
}

.action input[type=button]:visited {
    color: #090909;
    background-color: #ffffff !important;
}

.action input[type=button]:hover {
    color: #090909;
    background-color: #ffffff !important;
}

.action input[type=button]:active {
    color: #090909;
    background-color: #ffffff !important;
}

.buy-btn {
    display: inline-block;
    margin-right: 10px;
}

.more-info-btn{
    display: inline-block;

}

footer {
    margin: 50px 0 35px 0;
    text-align: center;
}

.footer-logo{
    display: inline-block;
}

footer .logo{
    display: inline-block;
    margin: auto
}
.nav {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #090909;
    width: 100%;
    min-height: 50px;
}
.hamburger {
    display: inline-block;
    cursor: pointer;
    margin-top: 8px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 1px;
}

.hamburger.change {
    margin-bottom: 20px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

.menu-open {
    display: block;
    padding: 20px 0;
}

.menu li {
    padding: 15px 0;
    font-weight: 500;
}
